.project{
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 320px;
    height: 140px;
    margin: 0px 0px 0px 5px;
    -webkit-border-radius:10px;
    -webkit-box-shadow: -4px -4px 5px #CCC;
}

.projectPicture{
    width: 100%;
    //margin-top: -100px;
    border-radius: 10px;
}

.projectCaption{
    padding-left: 20px;
    margin: 0;
    height: 43px;
    position: absolute;
    bottom: 0px;
    color: white;
    width: 100%;
    background: rgba(0,0,0,0.6);
    border-radius: 0px 0px 10px 10px;
}

.tags{
    position: absolute;
    top: 0px;
    padding: 2px;
    right:0;
}

.tag{
    display: inline-block;
    color:white;
    background:rgb(50,50,50);
    border-radius:5px;
    border: white groove 1px;
    padding : 2px;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}